<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <title>Tic Tac Toe</title>
    </head>

    <body class="bg-yellow font-ShortShack ">

        <div class="flex justify-end">
            <button class ="bg-red w-32 h-11 mt-5 mr-5 text-yellow rounded-xl">Pause</button>
        </div>

        <div class="flex justify-center mt-5 text-center">
            <div>
                <table class="scoring w-525">
                    <thead>
                        <tr class="text-3xl">
                            <th>X's Player</th>
                            <th>:</th>
                            <th>O's Player</th>
                        </tr>
                    </thead>
                    <tbody class="text-2xl  text-navy">
                        <tr>
                            <td id="score-x">1</td>
                            <td ></td>
                            <td id ="score-o">0</td>
                        </tr>
                    </tbody>
                    
                </table>

                <h3 id ="result"><br></h3>

                <div class="board grid grid-rows-3 grid-cols-3 w-525 h-436 gap-4" > 
                    <button class=" bg-light-orange border rounded-xl text-5xl" id="item1"></button>
                    <button class=" bg-light-orange border rounded-xl text-5xl" id = "item2"></button>
                    <button class=" bg-light-orange border rounded-xl text-5xl" id = "item3"></button>
                    <button class=" bg-light-orange border rounded-xl text-5xl" id = "item4"></button>
                    <button class=" bg-light-orange border rounded-xl text-5xl" id = "item5"></button>
                    <button class=" bg-light-orange border rounded-xl text-5xl" id = "item6"></button>
                    <button class=" bg-light-orange border rounded-xl text-5xl" id = "item7"></button>
                    <button class=" bg-light-orange border rounded-xl text-5xl" id = "item8"></button>
                    <button class=" bg-light-orange border rounded-xl text-5xl" id = "item9"></button>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/board.js') }}"></script>
    </body>
</html>